@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

body {
    background-color: #021024;
}

header {
    background-color: #021024;
}

.header-logo h1 {
    font-family: 'Bitcount Grid Double', sans-serif;
    color: #c1e8ff;
}

.nav-link {
    text-decoration: none;
    color: #c1e8ff;
    font-weight: bold;
    font-size: 1.25rem;
}

.nav-item:hover {
    color: #7da0ca;
}

.container-carousel {
    height: 100px;
}

.carousel-item img {
    height: 70vh;
}

section {
    height: 100vh;
}

h2 {
    color: #c1e8ff;
    font-weight: bold;
}

.card {
    background-color: #071730;
    height: 100%;
    color: #fff;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-subtitle {
    color: #c5c5c5;
}

.card-text {
    margin-top: 1rem;
}

.preco-antigo {
    color: gray;
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 0.875rem;
}
